@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
.cart {
    padding: 100px 0;
}

.cart-top-wrap{

    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top{

    height: 2px;
    width: 70%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
    
}

.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}

.cart-top-item i{
    color: #dddddd;
}
.cart-top-cart{
    border:1px solid #0db7ea ;
}
.cart-top-cart i {
    color: #0db7ea;
}
.cart-content-left{
    flex: 2;
    padding-right: 12px;
    padding-left: 20px;

}
.cart-content-left table
{   
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.cart-content-left table th
{   
    
    padding-bottom: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left table p
{   
    color: #333;
    margin-top: 1rem;
}
.cart-content-left table input
{   
    width: 30px;
}

.cart-content-left table button
{   
    display: inline-block;
    align-items: center;
   font-size: 16px;
    width: 35px;
    height: 35px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    cursor: pointer;
}
.cart-content-left  table td
{   
   
    padding: 10px 0;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left  table th:first-child input
{   
    width: 18px;
    height: 18px;
}

.cart-content-left  td:nth-child(2) img
{   
    width: 130px;
}
.cart-content-left  td:nth-child(3)
{   
    max-width: 130px;
}
.cart-content-left  td:nth-child(4) img
{   
    width:  30px;
    border-radius: 50%;
}

.row{
    display: flex;
    vertical-align: middle;
    
  }
.cart-content-right{
    flex: 1;
    padding-left: 10px;
    border-left: 2px solid #dddddd;
    padding-right: 30px;
}
.cart-content-right table {
    
    width: 100%;
}
.cart-content-right table th{
    padding-bottom: 30px;
    font-size: 16px;
    text-align: center;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-right table td{
    font-size: 14px;
    color: #333;
    padding: 6px 0;
}

.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid #dddddd;
}
.cart-content-right tr td:last-child{
    text-align: right;
    padding-bottom: 9px;

}
.cart-content-right-text {
    margin: 20px 0;
    text-align: center;
}
.cart-content-right-text p{

    color: #333;
}
.cart-content-right-button{
    text-align: center;
    align-items: center;
}
.cart-content-right-button button{
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}
.cart-content-right-button button:first-child{
    background-color: #fff;
    border:  1px solid black;
    margin-right: 20px;
}
.cart-content-right-button button:first-child:hover{
    background-color: #ddd;
}
.cart-content-right-button button:last-child{
    background-color: #000000;
    color: #fff;
    border: none;
    border:  1px solid black;
}
.cart-content-right-button button:last-child:hover{
    background-color: #dddddd;
    color: black;
}
.cart-content-right-LOGIN{
    margin-top: 20px;
}
.cart-content-right-LOGIN p {
    font-size: 14px;
    color:#333 ;    
}

